.but_start {
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 30px;
}
.but_next {
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 15px;
}
.but_ans {
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-color: #E38453;
}
.ques {
    -fx-background-color: #FFEBB5;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #E38453;
}
.menu {
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #e38453;
    -fx-background-image: url('../img/Songbien.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
