.myStackPane {
  -fx-background-color: #008000; /* Màu nền xanh lá cây */
  -fx-background-radius: 20px; /* Bo tròn các góc 10px */
}

.myPane {
    -fx-background-image: url('../img/background_nui1.jpg'); /* Thay thế bằng đường dẫn đến file hình ảnh của bạn */
         -fx-background-size: cover; /* Tùy chỉnh kích thước background */
         -fx-background-repeat: no-repeat; /* Tùy chỉnh cách lặp lại background */
         -fx-background-position: center; /* Tùy chỉnh vị trí background */
}

.button {
    -fx-background-image: url('../img/nutdoi.png'); /* Thay thế bằng đường dẫn đến file hình ảnh của bạn */
     -fx-background-size: cover; /* Tùy chỉnh kích thước background */
     -fx-background-repeat: no-repeat; /* Tùy chỉnh cách lặp lại background */
     -fx-background-position: center; /* Tùy chỉnh vị trí background */
}